@import './styles/variables-keys.scss';

* {
    font-family: 'Heebo';
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: var($netural-100);
}

::-webkit-scrollbar-thumb {
    background-color: var($primary-500);
    border-radius: var($border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var($primary-600);
}
