@import 'src/styles/variables-keys';

.container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    min-width: 15rem;

    & > label {
        font-weight: 600;
    }

    & > span {
        color: var($error-500);
        text-align: end;
        font-size: 0.9rem;
    }

    & > .children__container {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    & > .margin {
        margin-inline-start: 1rem;
    }
}

.required {
    position: relative;

    &::after {
        position: absolute;
        color: var($error-500);
        content: '*';
        padding-inline-start: 0.125rem;
    }
}
